# =====================
# Env files
# =====================
.env
.env.*
!.env.example

# =====================
# Python
# =====================
venv/
__pycache__/
*.pyc
*.pyo

# =====================
# Node / Frontend
# =====================
node_modules/
dist/

# =====================
# Database
# =====================
*.db
*.sqlite
*.sqlite3

# =====================
# Logs
# =====================
*.log

# =====================
# OS / Editor
# =====================
.DS_Store
.idea/
.vscode/
