fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
python-jose
requests
pytest
email-validator
passlib[bcrypt]
python-jose
sqlalchemy
cloud-sql-python-connector[pg8000]
pg8000
google-cloud-storage
python-multipart